@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the CSS class for highlighting */
.highlightedYellow {
    background-color: yellow;
    color: black;
    /* You can adjust the text color as needed */
    display: inline;
    /* Extend background to the end of the line */
}

.highlightedGreen {
    background-color: lightgreen;
    color: black;
    /* You can adjust the text color as needed */
    display: inline;
    /* Extend background to the end of the line */
}

.highlightedBlue {
    background-color: lightblue;
    color: black;
    /* You can adjust the text color as needed */
    display: inline;
    /* Extend background to the end of the line */
}

/* Set the font size for the entire select element */
select {
    font-size: 20px;
    /* Adjust the font size to your desired value */
}

/* Set the font size for the entire select element */
input {
    font-size: 20px;
    /* Adjust the font size to your desired value */
}

/* Set the font size for the entire select element */
button {
    font-size: 20px;
    /* Adjust the font size to your desired value */
}

/* Rest of your existing styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: "Arial Unicode MS", Arial, sans-serif;
}

/* Style for verse numbers */
.superscript {
    vertical-align: super;
    font-size: x-small;
}

.toolbar {
    background-color: #cccccc;
    /* A light gray background */
    color: #333;
    /* Dark text color */
    padding: 10px;
    /* Add some padding for spacing */
    font-family: Arial, sans-serif;
    /* Modern font */
}

/* Apply the same CSS styles to the bottom toolbar */
#highlight-toolbar {
    text-align: center;
    /* Center the text (buttons) horizontally */
    background-color: #cccccc;
    /* A light gray background */
    color: #333;
    /* Dark text color */
    padding: 10px;
    /* Add some padding for spacing */
    font-family: Arial, sans-serif;
    /* Modern font */
}

#bible-content {
    margin: 50;
    flex-grow: 1;
    overflow-y: scroll;
}

/* Style the highlight buttons */
.highlight-button {
    width: 30px;
    /* Adjust the button size as needed */
    height: 30px;
    border: 1px solid white;
    /* Add a white border */
    border-radius: 50%;
    /* Make the button round */
    margin: 5px;
    /* Adjust the spacing between buttons */
}

/* Apply specific background colors to the circular color buttons */
.highlight-button[data-color="highlightedYellow"] {
    background-color: yellow;
}

.highlight-button[data-color="highlightedGreen"] {
    background-color: lightgreen;
}

.highlight-button[data-color="highlightedBlue"] {
    background-color: lightblue;
}

.highlight-button[data-color="highlightedTransparent"] {
    background-color: white;
}

/* Style for the notes button */
.notes-button {
    width: 30px;
    /* Adjust the button size as needed */
    height: 30px;
    border: 0px solid white;
    /* Add a white border */
    margin: 5px;
    /* Adjust the spacing between buttons */
    background-color: transparent;
}

/* Style for the round button */
.round-button {
    width: 30px;
    /* Adjust the button size as needed */
    height: 30px;
    border: 1px solid #000;
    /* Add a border */
    border-radius: 50%;
    /* Make the button round */
    background-color: #fff;
    /* Background color for the button */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    /* Adjust the font size as needed */
    cursor: pointer;
    /* Add a pointer cursor on hover */
}


/* Style for the navigation buttons container */
.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the info button */
.info-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    /* Make it a circle */
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    /* Text color */
    cursor: pointer;
}

/* Style for the info icon (the letter "i") */
.info-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    /* Circle border color */
    border-radius: 50%;
    /* Make it a circle */
}

/* Styles for the modal container */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent background */
    transition: all 0.3s;
    /* Smooth animation */
}

/* Set the modal to cover the entire screen */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    z-index: 9999;
}

/* Style for the modal toolbar */
.modal-toolbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center the close button vertically */
}

/* Style for the close button (X) */
.close-button {
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.close-button:hover {
    text-decoration: underline;
}

.modal-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 0;
    /* Remove border radius to cover the entire screen */
    box-sizing: border-box;
    overflow: auto;
    /* Enable scrolling within the modal if content exceeds the screen size */
}
